{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} Inventory Lookup{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .ui-jqgrid .ui-userdata { height: auto; }
        .ui-jqgrid .ui-userdata div { margin: .1em .5em .2em;}
        .ui-jqgrid .ui-userdata div>* { vertical-align: middle; }
        .ui-jqgrid .ui-jqgrid-htable th {
            height: 2em !important;
        }
        .ui-jqgrid tr.jqgrow td{height:4px;}
        .ui-jqgrid tr.jqgrow td {white-space:nowrap;}
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            //GRID START
            var $grid = $("#list");
            var createNewItem = $("#createNewItem");
            var openCategories = $("#openCategories");
            var commonSettings = {
                align: 'left',
                searchoptions:{sopt:["cn","eq","ne","lt","le","gt","ge","bw","ew","nc"]},
                width: 100,
                editable: false,
                formatoptions: {disabled: false}
            };
            var cm = [
                {name: "id", index: "o.id", jsonmap: "cell.0", width: 100, classes: 'padding-row-left', hidden: true },
                {name: "name", index: "o.name", jsonmap: "cell.1", width: 250, classes: 'padding-row-left', formatter: openItemMaster },
                {name: "categoryID", index: "o.categoryID", jsonmap: "cell.2", width: 100, classes: 'padding-row-left', formatter: function (cellValue, options, rowObject) {
                        switch(cellValue)
                        {
                            case 1:
                                return 'Games';
                            case 2:
                                return 'Computers';
                            case 3:
                                return 'TVs and Accessories';
                        }
                    },stype: 'select',
                    searchoptions:{ sopt:['eq'], value: ":;1:Games;2:Computers;3:TVs and Accessories" } },
                {name: "SKU", index: "o.SKU", jsonmap: "cell.3", width: 100, classes: 'padding-row-left' },
                {name: "price", index: "o.price", jsonmap: "cell.4", width: 100, classes: 'padding-row-left'},
                {name: "quantity", index: "o.quantity", jsonmap: "cell.5", width: 100, classes: 'padding-row-left' },
                {name: "dateCreated", index: "o.dateCreated", jsonmap: "cell.6.date", width: 250, classes: 'padding-row-left' },
                {name: "dateModified", index: "o.dateModified", jsonmap: "cell.7.date", width: 250, classes: 'padding-row-left'}
            ];
            var cn = ['id', 'Name (Click to open product)', 'Category', 'SKU', 'Price', 'Quantity', 'Date Created', 'Date Modified'];
            $grid.jqGrid({
                url: "{{ path('thrace_data_grid.data', {'name': 'W3viewItemsList'}) }}",
                postData: {
                },
                datatype: "json",
                mtype: 'POST',
                colNames: cn,
                colModel: cm,
                iconSet: "fontAwesome",
                autoResizing: { compact: true },
                jsonReader: {repeatitems: false},
                height: 750,
                autowidth: true,
                width: null,
                rowNum: 50,
                rowTotal: 1000000,
                gridview: true,
                autoencode: false,
                pager: '#pager',
                shrinkToFit: false,
                sortable: true,
                sortname:"o.id",
                sortorder: "asc",
                viewrecords: true,
                loadonce:false,
                cmTemplate: commonSettings,
                rowList: [50, 100, 500, 1000]
            });
            $.extend($.jgrid.search, {
                multipleSearch: true,
                multipleGroup: true,
                recreateFilter: true,
                closeOnEscape: true,
                closeAfterSearch: true
                //overlay: 0
            });
            $grid.jqGrid('navGrid','#pager',{del:false,add:false,edit:false,search: true},{ },{},{},{multipleSearch:true});
            $grid.jqGrid('filterToolbar',{
                searchOperators: true,
                stringResult: true,
                searchOnEnter : true,
                sopt: ['cn','eq','ne','lt','le','gt','ge','bw','ew','nc']
            });
            $grid.jqGrid('bindKeys');
            $(window).focus(function() {
                $('#list').trigger("reloadGrid");
            });

            createNewItem.click(function(event){
                event.preventDefault();
                window.open(Routing.generate('inventory_item_master_new_homepage'));
            });

            openCategories.click(function(event){
                event.preventDefault();
                window.open(Routing.generate('inventory_category_homepage'));
            });
            function openItemMaster(cellvalue, options, rowObject)
            {
                var TAPLurl;
                TAPLurl = Routing.generate('inventory_item_master_homepage', { IPK: rowObject.cell[0] });
                return '<a href="'+TAPLurl+'" target="_blank"/>'+cellvalue+'</a>';
            }
        });
    </script>
{%  endblock %}
{%  block fos_user_content %}
    <button class='btn btn-xs btn-info' id = 'createNewItem' type="button">Create new Product</button>
    <button class='btn btn-xs btn-info' id = 'openCategories' type="button">Open Categories</button>
    <table id="list"></table>
    <div id="pager"></div>
{% endblock %}
